@import "tailwindcss";

:root {
  --primary-color: #ff6b6b;
  --secondary-color: #4ecdc4;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  @apply bg-gray-50 text-gray-800;
}

/* Hide scrollbar for horizontal scroll */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}